input {
    border-radius: 15px !important;
}
select {
    border-radius: 15px !important;
}
.chosen-select {
    border-radius: 15px !important;
}
.form-control .form-control-sm .chosen-select .select2-hidden-accessible {
    border-radius: 15px !important;
}

textarea {
    border-radius: 15px !important;
    border-color: #E96200 !important;
}
hr {
	border-top: 1px solid #E96200 !important;
}
h2 {
	font-size: 35px !important;
}
h3 {
	font-size: 30px !important;
}
h4 {
	font-weight: bold color:#E96200;
}
button {
    border-radius: 14px !important;
}
label, p{
	 font-weight: bold !important;
}
.info {
   color: #E96200 !important;
   font-size: 15px;
   text-align: center;
}
.info:hover {
   background-color: #ed8132 !important;
}
.edit {
   background-color: #ed8132 !important;
}
.btn-raised {
    background-repeat: repeat-x !important;
    color: white !important;
    border-color: #E96200;
    border-radius: 10px !important;
}

.card {
    border: 3px solid #E96200;
    border-radius: 15px !important;
}

/* Centra el input personalizado con el texto */
.custom-radio-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-family: arial;
}

/* Modificador para dar la imagen de checkbox */
.custom-radio-checkbox__show--checkbox {
    background-image: url(../img/ico/checkbox-uncheck.png);
}

/* Oculta input original */
.custom-radio-checkbox > .custom-radio-checkbox__input {
    display: none;
}

/* Radio personalizado usando <span> */
.custom-radio-checkbox > .custom-radio-checkbox__show {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: .5rem;
    background-size: cover;
}

/* Cambia el checkbox personalizado cuando es pulsado */
.custom-radio-checkbox > .custom-radio-checkbox__input:checked + .custom-radio-checkbox__show--checkbox {
    background-image: url(../img/ico/checkbox-check.png);
}

table.dataTable thead {background-color:#E96200}

	.btn-secondary{
      border-radius: 14px !important;
    }
    .btn-success{
        background-image: linear-gradient(177deg, #E96200, #E96200) !important;
        background-repeat: repeat-x !important;
        color: white !important;
        border-color: #E96200;
        border-radius: 10px !important;
    }
    .gradient-green-teal{
        color: white !important;
        border-color: #E96200 !important;
        border-radius: 10px !important;
        /*background-color: #ed8132 !important;*/
    }
    .gradient-green-teal: hover{
        border-color: #E96200 !important;
        /*background-color: #ed8132 !important;*/
    }
    button:hover{
    	border-color: #E96200 !important;
    }
    .page-item.active .page-link {
        z-index: 2;
        color: #FFFFFF !important;
        background-color: #8c5fc1 !important;
        border-color: #8c5fc1 !important;
    }
    .page-link {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #8c5fc1;
        background-color: #FFFFFF;
        border: 1px solid #DDDDDD;
    }
    .info{
      color: #E96200 !important;
    }

    table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
        background-color: #E96200;
    }
    .danger {
        color: #E96200 !important;
    }
    input:focus{
      color: #E96200 !important;
      border:1px solid #E96200 !important;
      /*border-color: #37028d !important;*/
    }
    input{
      border:1px solid #E96200 !important;
      /*border-color: #37028d !important;*/
    }
    select{
      color: #E96200 !important;
      border-color: #E96200 !important;
    }
    select:focus{
      border-color: #E96200 !important;
    }
    hr{
      background-color: #E96200 !important;
    }
    thead{
      background-color: #E96200 !important; 
      opacity: 0.7;
      color: white;
    }

    /* The switch - the box around the slider */
	.switch {position: relative;display: inline-block;width: 60px;height: 34px;}
	/* Hide default HTML checkbox */
	.switch input {display:none;}
	/* The slider */
	.sliderN {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
	.sliderN:before {position: absolute;content: "";height: 26px;width: 26px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
	input:checked + .sliderN {background-color: #E96200;}
	input:focus + .sliderN {box-shadow: 0 0 1px #E96200;}
	input:checked + .sliderN:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px);}
	/* Rounded sliders */
	.sliderN.round {border-radius: 34px;}
	.sliderN.round:before {border-radius: 50%;}

	div.dataTables_wrapper div.dataTables_processing {
        position: absolute;
        top: 25%;
        left: 10%;
        width: 90%;
        height: 50px !important;
        margin-left: -90px;
        margin-top: 50px;
        text-align: center;
        padding: 1em 0;
        font-size: 25px;
        background: #E96200;
        color: white;
    }

    .fc-event-container .fc-day-grid-event .fc-h-event .fc-event .fc-start .fc-end{
	  background-color: #E96200 !important;
	  background: #E96200 !important;
	}

    .paginate_button{
        color: #E96200 !important;
        border-color: #E96200 !important;
        background-color: #ef914c !important;
    }

    .paginate_button:hover{
        background-color: #E96200 !important;
    }

    .fc-button{
        border-color: #E96200 !important;
        background-color: #ef914c !important;
    }